<div class="jumbotron">
    <h1 class="text-center">Repositories</h1>
    <h3>number of repositories found.</h3>
    <app-search (searchEmmiter)="findRepo($event)"></app-search>
</div>
<div class="card" *ngFor="let repo of myRepo">
    <div class="card-header">{{repo.name}}</div>
    <div class="card-body">
        <p id="descr">{{repo.description}}</p>
        <p id="language">{{repo.language}}</p>
    </div>
    <div class="card-footer">
        <p id="forks">{{repo.forks}}</p>
    </div>
</div>
