<div class="jumbotron">
    <h2 class="text-center">User Repositories</h2>
    <br>
    <app-search (searchEmmiter)="findRepo($event)"></app-search>
</div>
<div class="columns mb-4">
    <div class="card" *ngFor="let Repo of myRepo">
        <div class="col-sm-6">
            <div class="card-header">Project Name: {{Repo.name}}</div>
            <div class="card-body">
                <p>Description: {{Repo.description}}</p>
                <p>Language: {{Repo.language}}</p>
            </div>
            <div class="card-footer">
                <p id="forks">forked: {{Repo.forks}}</p>
            </div>
        </div>
    </div>
</div>

