<div class="container">
    <div class="row">
        <app-search (searchEmitter)="userSearched($event)"></app-search>
        <div class="col-md-6 mb-4">
            <img src="">
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{user.name}}</h4>
                <ul>
                    <li>followers: {{user.followers}}</li>
                    <li>following: {{user.following}} </li>
                    <li>repos: {{user.repo}</li>
                </ul>
            </div>
        </div>
    </div>
</div>