<nav class="container-fluid" id="navigation">
    <div class="logo">
        <h1><span>GitSearch</span></h1>
    </div>
    <div class="container-fluid">
        <ul class="col -6">
            <li class="nav-item">
                <a class="nav-link" routerLink="user-link" appHighlight>Search Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="repo-link" appHighlight>Search Repositories</a>
            </li>
        </ul>
    </div>
</nav>







